@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Playfair+Display);

.title h2 {
  text-align: center;
  position: relative;
  bottom: 80px;
  font-weight: 150;
  justify-content: center;
  display: flex;
  font-family: 'Playfair Display';
}

.WF {
  text-align: center;
  bottom: 80px;

  position: relative;
  justify-content: center;
}
