@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Playfair+Display);

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-alice-carousel/lib/alice-carousel.css";
.hp-nav {
  display: flex !important;
  justify-content: flex-end !important;
}

.hp-nav {
  padding: 30px;
  color: black;
}
.hp-nav ul {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}
.hp-nav  ul li {
  display: inline-block;
  /* float: left; */
}
.hp-nav  ul li:not(:first-child) {
  margin-left: 25px;
}
.hp-nav  ul li a {
  display: inline-block;
  outline: none;
  color: black;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
.hp-nav ul li a:hover {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container-hp {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #ffff !important;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container-hp ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container-hp ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container-hp ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container-hp ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container-hp ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container-hp ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container-hp ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container-hp ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: black;
    font-size: 24px;
    font-weight: 150;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;

  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
  #nav:checked + .nav-open {
    transform: rotate(45deg);
  }
  #nav:checked + .nav-open i {
    background: red;
    transition: transform 0.2s ease;
  }
  #nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked ~ .nav-container-hp {
    z-index: 9990;
    opacity: 1;
  }
  #nav:checked ~ .nav-container-hp ul li a {
    opacity: 1;
    transform: translateY(0);
  }
  .hidden {
    display: none;
  }
/* body */
.HP {
  background-color: #ffff !important;
}
.HP-header {
  padding-bottom: 20px;
  background-color: #ffff !important;
}
.HP-intro {
  background-color: #ffff !important;
  padding-left: 80px;
}
.HP body{
  background-color: #ffff !important;
  font-weight: 150;

}

.HP-title, .HP-WF{
  display: flex;
  justify-content: center;
}

.HP-WF {
  padding-bottom: 20px;
}

.hero_content {
	/* padding: 10px; */
	margin: 0px;
	font-size: 16px;

}

.hero1 {
  width: 50%;
  margin: 0 auto !important;

}
.hero2 {
  width: 50%;
  margin: 0 auto !important;
}

.hero3 {
  width: 50%;
  margin: 0 auto !important;
}

.box1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
