@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Playfair+Display);

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-alice-carousel/lib/alice-carousel.css";

.HP {
  background-color: #ffff !important;
}
.HP-header {
  background-color: #ffff !important;
}
.HP-intro {
  background-color: #ffff !important;
  padding-left: 80px;
}
.HP body{
  background-color: #ffff !important;
  font-weight: 150;

}
.HP-title{
  padding-top: 30px;
  text-align: left;
  font-size: 20px;
  font-weight: 150;
  padding-left: 80px;

}
.title h2 {
  text-align: center;
  position: relative;
  bottom: 80px;
  font-weight: 150;
  justify-content: center;
  display: flex;
  font-family: 'Playfair Display';
}

.WF {
  text-align: center;
  bottom: 80px;
  position: relative;
  justify-content: center;
}

.hero_content {
	/* padding: 10px; */
	margin: 0px;
	font-size: 16px;

}

.Slider{
  display: block;
  /* background-color: #E0EEEE; */
  justify-content: center !important;
  /* overflow-x: hidden; */
  background-color: #701700;
  /* opacity: ; */
  width: 1000px;
  /* padding-left: 400px !important; */
  margin-left: 300px !important;


}
.slick-slide.slick-center img {
    /* transform: scale(0.5); */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;

}

.slick-slide  {
  /* margin-right: 20px; */

}

/* element.style {
  padding: 0px 95px;
} */

.slick-list {
  postion: absolute;
  flex-grow: 1;
  flex-wrap: wrap;
   display: block !important;
   justify-content: center !important;
   padding-left: 100px !important;
   padding-right: 400px !important;
  /* padding-left: 100px !important;
  padding-right: 100px !important;
  margin-right: 100px !important;
  margin-left: 100px !important;  */
  /* padding-left: 100px !important;
  padding-right: 100px !important;
  overflow: hidden;
  justify-content: center !important;
  padding-top: 7px !important;
  /* padding: 0px 125px !important; */
  /* padding-left: 105px !important;
  padding-right: 120px !important; */
  /* padding-bottom: 20px !important; */
  margin-left: 100px !important;
  margin-right: 100px !important;
  /* padding-left: 100px;
  padding-right: 100px; */

}


.hero1 {
  width: 100%;

}
.hero2 {
  width: 100%;
}

.hero3 {
  width: 100%;
}

.wrapper {
	position: relative;
}

.box1 {
  margin-top: 100px;
  margin-left: 290px;
  /* justify-content: center !important; */
  text-align: justify;
  margin-bottom: 500px;
}
